@layer components {
  .monogram {
    position: relative;
    width: 48px;
    height: 29px;
  }

  .monogram img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter var(--durationL) ease;
  }

  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    opacity: 0;
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    transition: opacity 0.1s ease var(--durationM);

    @media (--mediaUseMotion) {
      transition: transform var(--durationM) var(--bezierFastoutSlowin),
        opacity 0.1s ease var(--durationM);
    }
  }

  :is(a:hover, .monogram:hover) .highlight {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
    transition: opacity 0.1s ease;

    @media (--mediaUseMotion) {
      transition: transform var(--durationM) var(--bezierFastoutSlowin),
        opacity 0.1s ease;
    }
  }
}